<div class="submit-site">
  <div>Submit your website.</div>
  <form>
    <mat-form-field
      [style.width.px]=500
      >
      <mat-label>please include protocol (http://) and exclude path.</mat-label>
      <input matInput #input
        placeholder="e.g. http://www.google.com"
        [formControl]="siteFormControl" 
        type="text"
        >
      <mat-error *ngIf="siteFormControl.hasError('required')">
        Website cannot be null.
      </mat-error>
      <mat-error *ngIf="siteFormControl.hasError('pattern')">
        Website is not formatted correctly.
      </mat-error>
    </mat-form-field>
    <!-- <br> -->
    <button mat-flat-button
      color="primary"
      (click)="submit(input.value)"
      [style.margin-top.px]=-10
      [style.margin-bottom.px]=6
      [style.width.px]=100
      [style.height.px]=52
      >Submit</button>
  </form>
</div>

<mat-chip-listbox
  selectable multiple #list
  aria-label="Status Filter Selection"
  (change)="setFilter($event)"
  >
  <mat-chip-option
      *ngFor="let status of statuses()"
      [value]="status"
      selected="true"
      color="accent"

  >
      {{status}}
  </mat-chip-option>
</mat-chip-listbox>



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="websiteURL">
      <th mat-header-cell *matHeaderCellDef>Site URL</th>
      <td mat-cell *matCellDef="let row"> 
        <a routerLink="/website/{{row._id}}">{{row.websiteURL}}</a>
        </td>
    </ng-container>

    <!-- added date Column -->
    <ng-container matColumnDef="addedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Added</th>
      <td mat-cell *matCellDef="let row">{{row.addedDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
    </ng-container>

    <!-- last evaluation date Column -->
    <ng-container matColumnDef="lastRated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Evaluation</th>
      <td mat-cell *matCellDef="let row">{{row.lastRated | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
    </ng-container>

    <!-- rating status Column -->
    <ng-container matColumnDef="ratingStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">{{row.ratingStatus}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>